<div>
    <h2>
        <span jhiTranslate="trialslinkApp.privilegeRequest.home.title">Privilege Requests</span>
        <!--<button class="btn btn-primary float-right create-privilege-request" [routerLink]="['/', { outlets: { popup: ['privilege-request-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="trialslinkApp.privilegeRequest.home.createLabel">
            Create new Privilege Request
            </span>
        </button>-->
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="privilegeRequests">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th class="text-center" jhiSortBy="created_by"><span jhiTranslate="trialslinkApp.privilegeRequest.created_by">Created By</span> <span class="fa fa-sort"></span></th>
                <th class="text-center" jhiSortBy="status"><span jhiTranslate="trialslinkApp.privilegeRequest.status">Status</span> <span class="fa fa-sort"></span></th>
                <th class="text-center" jhiSortBy="created_at"><span jhiTranslate="trialslinkApp.privilegeRequest.created_at">Created At</span> <span class="fa fa-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let privilegeRequest of privilegeRequests ;trackBy: trackId;">
                <td class="text-center">{{privilegeRequest.createdBy}}</td>
                <td class="text-center">
                    <span class="badge"
                          [ngClass]="{
                            'badge-success': privilegeRequest.status === privilegeRequestStatus[privilegeRequestStatus.APPROVED],
                            'badge-warning': privilegeRequest.status === privilegeRequestStatus[privilegeRequestStatus.PENDING],
                            'badge-danger': privilegeRequest.status === privilegeRequestStatus[privilegeRequestStatus.REJECTED]
                          }"
                          jhiTranslate="{{'trialslinkApp.PrivilegeRequestStatus.' + privilegeRequest.status}}"
                    >
                        {{privilegeRequest.status}}
                    </span>
                </td>
                <td class="text-center">{{privilegeRequest.createdDate | date:'medium'}}</td>
                <td class="text-center">
                    <div *ngIf="privilegeRequest.status.toString() == 'PENDING'">
                        <button class="btn btn-outline-success" (click)="approvePrivilegeRequest(privilegeRequest)">
                            <span class="fa fa-check"></span>
                            <span class="hidden-md-down" jhiTranslate="trialslinkApp.privilegeRequest.action.approve">Approve</span>
                        </button>
                        <button class="btn btn-outline-danger" (click)="declinePrivilegeRequest(privilegeRequest)">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="trialslinkApp.privilegeRequest.action.decline">Decline</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="privilegeRequests && privilegeRequests.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
