
<div *ngIf="privilegeRequest">
    <h2><span jhiTranslate="trialslinkApp.privilegeRequest.detail.title">Privilege Request</span> {{privilegeRequest.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="trialslinkApp.privilegeRequest.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'trialslinkApp.PrivilegeRequestStatus.' + privilegeRequest.status}}">{{privilegeRequest.status}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.privilegeRequest.created_by">Created By</span></dt>
        <dd>
            <span>{{privilegeRequest.createdBy}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.privilegeRequest.updated_by">Updated By</span></dt>
        <dd>
            <span>{{privilegeRequest.lastModifiedBy}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.privilegeRequest.created_at">Created At</span></dt>
        <dd>
            <span>{{privilegeRequest.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.privilegeRequest.lastModifiedDate">Updated At</span></dt>
        <dd>
            <span>{{privilegeRequest.lastModifiedBy | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'privilege-request/'+ privilegeRequest.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
