<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPrivilegeRequestLabel" jhiTranslate="trialslinkApp.privilegeRequest.home.createOrEditLabel">Create or edit a Privilege Request</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!privilegeRequest.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="privilegeRequest.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.privilegeRequest.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="privilegeRequest.status" id="field_status"  required>
                <option value="PENDING">{{'trialslinkApp.PrivilegeRequestStatus.PENDING' | translate}}</option>
                <option value="APPROVED">{{'trialslinkApp.PrivilegeRequestStatus.APPROVED' | translate}}</option>
                <option value="REJECTED">{{'trialslinkApp.PrivilegeRequestStatus.REJECTED' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.privilegeRequest.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                [(ngModel)]="privilegeRequest.createdBy"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.privilegeRequest.lastModifiedBy" for="field_lastModifiedBy">Updated By</label>
            <input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy"
                [(ngModel)]="privilegeRequest.lastModifiedBy"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.privilegeRequest.createdDate" for="field_createdDate">Created At</label>
            <div class="d-flex">
                <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="privilegeRequest.createdDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.privilegeRequest.lastModifiedDate" for="field_lastModifiedDate">Updated At</label>
            <div class="d-flex">
                <input id="field_lastModifiedDate" type="datetime-local" class="form-control" name="lastModifiedDate" [(ngModel)]="privilegeRequest.lastModifiedDate"
                />
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
