
<div *ngIf="trialHistory">
    <h2>
        <span jhiTranslate="trialslinkApp.trialHistory.detail.title">Trial History</span> {{trialHistory.id}}
        <span class="row float-right">
            <button class="btn btn-info" [routerLink]="['/trial', trialHistory.id]">
                <span class="fa fa-arrow-left"></span>
                <span>Back to Trial</span>
            </button>
        </span>
    </h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>

    <div class="row margin-bottom-15">
        <div class="col-md-4">
            <div class="table">
                <p class="lead">
                    <span *ngIf="snapshotIds.length == 1">
                        The current version of the trial is the only version of this trial.
                    </span>
                    <span *ngIf="snapshotIds.length > 1">
                        There have been {{snapshotIds.length}} versions of this trial.
                    </span>
                </p>
                <table class="table-responsive">
                    <thead>
                    <tr>
                        <th>User</th>
                        <th>Date</th>
                        <!--<th></th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let snapshotId of snapshotIds; let rowIndex=index" [ngClass]="{'table-active' : isShowingDiffView && diffRow == rowIndex}">
                        <td>
                            <span>{{ trialHistory.snapshots[snapshotId].lastModifiedBy}}</span>
                            <span class="badge badge-success" *ngIf="snapshotId === mostRecentSnapshotId">Latest</span>
                            <span class="badge badge-info" *ngIf="snapshotId === earliestSnapshotId">Original</span>
                        </td>
                        <!--<td>{{ trialHistory.snapshots[snapshotId].lastModifiedDate | date:'medium' }}</td>-->
                        <td>
                            {{ trialHistory.snapshots[snapshotId].lastModifiedDate | date:'medium' }}
                            <button class="btn btn-sm btn-outline-warning"
                                    *ngIf="snapshotId !== earliestSnapshotId"
                                    [disabled]="isShowingDiffView && diffRow == rowIndex"
                                    (click)="diffSnapshots(snapshotIds[rowIndex + 1], snapshotId, rowIndex)"
                            >
                                <span>View Changes</span>
                            </button>
                            <button class="btn btn-sm btn-secondary" *ngIf="isShowingDiffView && diffRow == rowIndex">
                                <span class="fa fa-long-arrow-right"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-8" *ngIf="isShowingDiffView">
            <div class="card">
                <div class="card-header">
                    <button class="btn btn-outline-danger btn-sm float-right" (click)="closeDiff()">
                        <span class="fa fa-close"></span>
                    </button>
                </div>
                <div class="card-block">
                    <div class="row justify-content-center">
                        <div class="table" *ngIf="diffOutput && diffOutput.length > 0">
                            <table class="table-responsive">
                                <thead>
                                <tr>
                                    <th class="text-center">Before</th>
                                    <th class="text-center">After</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let diffObject of diffOutput">
                                    <td>
                                        <div class="card card-outline-primary mb-3"
                                             [ngClass]="{
                                                'card-outline-danger': diffObject.kind == 'D' || diffObject.kind == 'E' || (diffObject.kind == 'A' && (diffObject.item.kind == 'D' || diffObject.item.kind == 'E'))
                                             }"
                                        >
                                            <div class="card-block">
                                                <pre>{{diffObject.patch.lhs | json }}</pre>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="card card-outline-primary mb-3"
                                             [ngClass]="{
                                                'card-outline-success': diffObject.kind == 'E' || diffObject.kind == 'N'  || (diffObject.kind == 'A' && (diffObject.item.kind == 'E' || diffObject.item.kind == 'N'))
                                             }"
                                        >
                                            <div class="card-block">
                                                <pre>{{diffObject.patch.rhs | json}}</pre>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
