<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.notification.title}">JHipster creation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.notification.greeting(${user.login})}">
    Dear
</p>
<p th:text="${searchTitle}">Search Title here:</p>
    <span th:each="trials : ${trialList}">
        <a th:href="@{|${baseUrl}/#/trial/${trials.getId()}|}"
           th:text="${trials.getBriefTitle()}">Trials here</a>
    </span>


<p>
    <span th:text="#{email.notification.text2}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">JHipster.</em>
</p>
</body>
</html>
