<!----------- Footer ------------>
<footer class="footer-bs">
    <div class="row">
        <div class="col-md-4 footer-brand animated fadeInLeft"><br>
            <!--<h2>Find A Study @UCLH</h2>
            <p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.</p>-->
            <img style="width:350px;padding-right:40px;height:76px;" src="../../../content/images/valuesfooter.png">
        </div>
        <div class="col-md-3 footer-nav animated fadeInUp">
            <!--<h4>Menu —</h4>-->
            <!--<div class="col-md-6">-->
                <!--<ul class="pages">-->
                    <!--<li><a href="#">Travel</a></li>-->
                    <!--<li><a href="#">Nature</a></li>-->
                    <!--<li><a href="#">Explores</a></li>-->
                    <!--<li><a href="#">Science</a></li>-->
                    <!--<li><a href="#">Advice</a></li>-->
                <!--</ul>-->
            <!--</div>-->
            <div class="col-md-12">
                <ul class="list">
                    <li><a [routerLink]="['../../about']">About Us</a></li>
                    <li><a [routerLink]="['../../contact-us']">Contacts</a></li>
                    <!--<li><a href="#">Terms & Conditions</a></li>-->
                    <li><a href="https://www.uclh.nhs.uk/aboutus/Pages/Cookiepolicy.aspx" target="_blank">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 footer-social animated fadeInDown">
            <h4>Follow Us</h4>
            <ul>
                <li><a href="https://www.facebook.com/UCLHNHS" target="_blank">Facebook</a></li>
                <li><a href="https://twitter.com/uclh" target="_blank">Twitter</a></li>
                <li><a href="https://www.instagram.com/uclh/" target="_blank">Instagram</a></li>
                <li><a href="https://www.youtube.com/user/UCLHvideo" target="_blank">YouTube</a></li>
            </ul>
        </div>
        <div class="col-md-3 footer-ns animated fadeInRight">
            <h4>Newsletter</h4>
            <p>Coming soon</p>
            <!--<div class="input-group">-->
                <!--<input type="text" class="form-control" placeholder="Subscribe">-->
                      <!--<span class="input-group-btn">-->
                        <!--<button class="btn btn-default" type="button"><span class="fa fa-envelope"></span></button>-->
                      <!--</span>-->
            <!--</div>-->
            <br>
            <h4>
                <a href="https://gitlab.com/keytrials/trialslink" target="_blank">
                    Powered by Keytrials platform <span class="text-lowercase">{{appInfo.version}}</span>
                </a>
            </h4>
        </div>
    </div>
</footer>
<ng-template ngbModalContainer></ng-template>
