<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTrialImportLabel" jhiTranslate="trialslinkApp.trialImport.home.createOrEditLabel">Create or edit a Trial Import</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!trialImport.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="trialImport.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.trialImport.source" for="field_source">Source</label>
            <select class="form-control" name="source" [(ngModel)]="trialImport.source" id="field_source"  required>
                <option value="NIHR">{{'trialslinkApp.TrialImportSource.NIHR' | translate}}</option>
                <option value="CLINICALTRIALS_GOV">{{'trialslinkApp.TrialImportSource.CLINICALTRIALS_GOV' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.source?.dirty && editForm.controls.source?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.source?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group" *ngIf="trialImport?.source === 'CLINICALTRIALS_GOV'">
            <label class="form-control-label" jhiTranslate="trialslinkApp.trialImport.sourceIdentifier" for="field_sourceIdentifier">Source Identifier</label>
            <input type="text" class="form-control" name="sourceIdentifier" id="field_sourceIdentifier"
                [(ngModel)]="trialImport.sourceIdentifier"  />
        </div>
        <div *ngIf="trialImport?.source === 'NIHR'">
            <div class="form-group">
                <input type="file" ng2FileSelect [uploader]="uploader">
            </div>
            <div *ngIf="uploader?.queue?.length > 0">
                <div class="progress" style="">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }">{{ uploader.progress }}%</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
