
<div *ngIf="! trialImport">
    <p class="text-center">
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    </p>
</div>

<div *ngIf="trialImport">
    <h2><span jhiTranslate="trialslinkApp.trialImport.detail.title">Trial Import</span> {{trialImport.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="trialslinkApp.trialImport.source">Source</span></dt>
        <dd>
            <span jhiTranslate="{{'trialslinkApp.TrialImportSource.' + trialImport.source}}">{{trialImport.source}}</span>
        </dd>
        <dt *ngIf="trialImport.sourceIdentifier"><span jhiTranslate="trialslinkApp.trialImport.sourceIdentifier">Source Identifier</span></dt>
        <dd *ngIf="trialImport.sourceIdentifier">
            <span>{{trialImport.sourceIdentifier}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.trialImport.status">Status</span></dt>
        <dd>
            <span *ngIf="trialImport.status.toString() === 'IN_PROGRESS'" class="badge badge-info">{{trialImport.status}}</span>
            <span *ngIf="trialImport.status.toString() === 'COMPLETE'" class="badge badge-success">{{trialImport.status}}</span>
            <span *ngIf="trialImport.status.toString() === 'FAILED'" class="badge badge-danger">{{trialImport.status}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="gotoListView()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="trialslinkApp.trialImport.actions.gotoListView"> View All</span>
    </button>

    <div *ngIf="trialImport.trials">
        <div class="row" *ngIf="trialImport.source.toString() === 'CLINICALTRIALS_GOV'">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Showing <b>{{trialImport.trials.length}}</b> trials
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <!--<thead>
                                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                                        <th></th>
                                    </tr>
                                </thead>-->
                                <tbody>
                                <tr *ngFor="let trial of trialImport.trials ;trackBy: trackId">
                                    <td class="search-result">
                                        <a *ngIf="!trial.shortName" [routerLink]="['/trial', trial.id, { outlets: {}} ]">{{trial.briefTitle}}</a>
                                        <a *ngIf="trial.shortName" [routerLink]="['/trial', trial.id, { outlets: {}} ]"><span class="badge badge-danger">{{trial.shortName}}</span>&nbsp; {{trial.briefTitle}}</a>
                                        <hr>
                                        <!--<span *ngFor="let phase of trial.phases;" class="badge badge-pill badge-default">{{lookup[phase]}}</span>-->
                                        <span class="badge badge-pill badge-success">{{trial.status}}</span>
                                        <span class="badge badge-pill badge-info" *ngFor="let condition of trial.conditions">{{condition.label}}</span>
                                        <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn-group">
                                            <button type="submit"
                                                    [routerLink]="['/', { outlets: { popup: 'trial/'+ trial.id + '/edit'} }]"
                                                    replaceUrl="true"
                                                    class="btn btn-primary btn-sm">
                                                <span class="fa fa-pencil"></span>
                                            </button>
                                        </div>
                                        <span class="clearfix borda"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="trialImport.source.toString() === 'NIHR'">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Report on Imported Trials</div>
                    <div class="panel-body">
                        <p>Number of Imported Trials: {{ trialImport.trials.length }}</p>
                        <div *ngIf="trialImport.status.toString() === 'FAILED'">
                            <p>Unable to import {{ trialImport.failedTrials.length }} trials</p>
                            <button (click)="downloadFailedTrials()" class="btn btn-danger">
                                <span jhiTranslate="trialslinkApp.trialImport.actions.downloadFailedTrials">
                                    Download failed trials as CSV file
                                </span>&nbsp;
                                <span class="fa fa-arrow-down"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
