<div class="row text-center give_feedback" *ngIf="!useIconOnly">
    <button type="button" id="give_feedback" class="btn btn-default" (click)="doAction('trigger')" ngbTooltip="Send Feedback">
        <span class="fa fa-envelope-o fa-md"></span>
        Feedback
    </button>
</div>
<eco-fab-speed-dial *ngIf="useIconOnly" direction="left">
    <eco-fab-speed-dial-trigger>
        <button style="background-color:#006064" mat-fab (click)="doAction('trigger')">
            <mat-icon>
                <span class="fa fa-envelope-o fa-lg" ngbTooltip="Feedback"></span>
            </mat-icon>
        </button>
    </eco-fab-speed-dial-trigger>
    <!--<eco-fab-speed-dial-actions>
        <button mat-mini-fab (click)="doAction('action1')"><mat-icon><span class="fa fa-comment"></span> </mat-icon></button>
    </eco-fab-speed-dial-actions>-->
</eco-fab-speed-dial>
