.give_feedback .btn-default {
    color: #333;
    background: #ff7429;
    border-color: #ccc;
    border-radius: 0px;
    /*padding: 12px 60px;*/
    font-size: 14px;
    margin: 10px;
    color: #fff;
    font-weight: inherit;
    text-align: center;
}