<div>
    <h2>
        <span jhiTranslate="trialslinkApp.outcomeMeasure.home.title">Outcome Measures</span>
        <button class="btn btn-primary float-right jh-create-entity create-outcome-measure" [routerLink]="['/', { outlets: { popup: ['outcome-measure-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="trialslinkApp.outcomeMeasure.home.createLabel">
            Create new Outcome Measure
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="outcomeMeasures">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="title"><span jhiTranslate="trialslinkApp.outcomeMeasure.title">Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="trialslinkApp.outcomeMeasure.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="timeFrame"><span jhiTranslate="trialslinkApp.outcomeMeasure.timeFrame">Time Frame</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let outcomeMeasure of outcomeMeasures ;trackBy: trackId">
                <td><a [routerLink]="['../outcome-measure', outcomeMeasure.id ]">{{outcomeMeasure.id}}</a></td>
                <td>{{outcomeMeasure.title}}</td>
                <td>{{outcomeMeasure.description}}</td>
                <td>{{outcomeMeasure.timeFrame}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../outcome-measure', outcomeMeasure.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'outcome-measure/'+ outcomeMeasure.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'outcome-measure/'+ outcomeMeasure.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
