
<div *ngIf="outcomeMeasure">
    <h2><span jhiTranslate="trialslinkApp.outcomeMeasure.detail.title">Outcome Measure</span> {{outcomeMeasure.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="trialslinkApp.outcomeMeasure.title">Title</span></dt>
        <dd>
            <span>{{outcomeMeasure.title}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.outcomeMeasure.description">Description</span></dt>
        <dd>
            <span>{{outcomeMeasure.description}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.outcomeMeasure.timeFrame">Time Frame</span></dt>
        <dd>
            <span>{{outcomeMeasure.timeFrame}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'outcome-measure/'+ outcomeMeasure.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
