<div *ngIf="gridLayout" class="card">
    <div class="card-block">
        <h5 class="card-title">
            <input *ngIf="editing" type="text" class="form-control mb-2 mr-sm-2 mb-sm-0"
                   placeholder="Enter condition" value="condition.label"
                   [(ngModel)]="condition.label" name="label">
            <span *ngIf="!editing">{{condition.label}}</span>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
            <input *ngIf="editing" type="text" class="form-control mb-2 mr-sm-2 mb-sm-0"
                   placeholder="Enter status" value="condition.status"
                   [(ngModel)]="condition.status" name="status">
            <span *ngIf="!editing">{{condition.status}}</span>
        </h6>
        <div *ngIf="!editing" class="btn-group flex-btn-group-container">
            <button (click)="editing = true;"
                    class="btn btn-primary btn-sm">
                <span class="fa fa-pencil"></span>
                <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
            </button>
            <button type="submit"
                    [routerLink]="['/', { outlets: { popup: 'condition/'+ condition.id + '/delete'} }]"
                    replaceUrl="true"
                    class="btn btn-danger btn-sm">
                <span class="fa fa-remove"></span>
                <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
            </button>
        </div>
        <div *ngIf="editing" class="btn-group flex-btn-group-container">
            <button (click)="editing = false;"
                    class="btn btn-danger btn-sm">
                <span class="fa fa-remove"></span>
                <span class="hidden-md-down" jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button (click)="update()"
                    class="btn btn-success btn-sm">
                <span class="fa fa-save"></span>
                <span class="hidden-md-down" jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>
    </div>
</div>

<td *ngIf="!gridLayout">
    <!--<input *ngIf="editing" type="text" class="form-control mb-2 mr-sm-2 mb-sm-0"-->
           <!--id="nameFormInput" placeholder="Enter condition" value="condition.label"-->
           <!--[(ngModel)]="condition.label" name="label">-->
    <div *ngIf="editing" class="form-control mb-2 mr-sm-2 mb-sm-0">
        <!--<ng-select id="nameFormInput" [multiple]="false"
                   [items]="knownConditions"
                   (selected)="onConditionSelect($event)"
                   placeholder="{{condition.label}}"
                   class="ui-select-placeholder text-muted">
        </ng-select>-->
        <tag-input id="nameFormInput" secondaryPlaceholder="Search for conditions" placeholder="Add condition"
                   [identifyBy]="'value'" [displayBy]="'display'"
                   minimumTextLength="3"
                   [ngModel]="[]" [onlyFromAutocomplete]="true" [editable]='true'
                   (onAdd)="onConditionItemAdded($event)"
                   [maxItems]="1"
                   [ngModelOptions]="{standalone: true}">
            <tag-input-dropdown
                [autocompleteObservable]='requestAutocompleteItems'>
            </tag-input-dropdown>
        </tag-input>
    </div>
    <span *ngIf="!editing">{{condition.label}}</span>
</td>
<td *ngIf="!gridLayout">
    <!--<input *ngIf="editing" type="text" class="form-control mb-2 mr-sm-2 mb-sm-0"-->
           <!--id="statusFormInput" placeholder="Enter status" value="condition.status"-->
           <!--[(ngModel)]="condition.status" name="status">-->
    <div *ngIf="editing" class="form-control mb-2 mr-sm-2 mb-sm-0" class="ng-hide">
        <ng-select id="statusFormInput" [multiple]="false"
                   [items]="knownStatuses"
                   (selected)="onStatusSelect($event)"
                   placeholder="{{condition.status}}"
                   class="ui-select-placeholder text-muted">
        </ng-select>
    </div>
    <span *ngIf="!editing">{{condition.status}}</span>
</td>
<td *ngIf="!gridLayout">
    <div *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PRIVILEGED']">
        <div *ngIf="!editing" class="btn-group flex-btn-group-container">
            <button (click)="editing = true;"
                    class="btn btn-outline-primary btn-sm">
                <span class="fa fa-pencil"></span>
                <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
            </button>
            <button type="submit"
                    [routerLink]="['/', { outlets: { popup: 'condition/'+ condition.id + '/delete'} }]"
                    replaceUrl="true"
                    class="btn btn-outline-danger btn-sm">
                <span class="fa fa-remove"></span>
                <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
            </button>
        </div>
        <div *ngIf="editing" class="btn-group flex-btn-group-container">
            <button (click)="editing = false;"
                    class="btn btn-outline-danger btn-sm">
                <span class="fa fa-remove"></span>
                <span class="hidden-md-down" jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button (click)="update()"
                    class="btn btn-outline-success btn-sm">
                <span class="fa fa-save"></span>
                <span class="hidden-md-down" jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>
    </div>
</td>
