<div>
    <h4 *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PRIVILEGED']">
        <div class="btn-group flex-btn-group-container">
            <button class="btn btn-outline-success create-condition" (click)="addCondition()"
                    ngbTooltip="Click to add new condition" placement="bottom">
                <span class="fa fa-plus"></span>
                <span>Add condition</span>
            </button>
            <button class="btn btn-outline-danger" (click)="deleteAllConditions()"
                    ngbTooltip="Click to delete all conditions for this trial" placement="bottom">
                <span class="fa fa-trash"></span>
            </button>
        </div>
    </h4>

    <div *ngIf="addingNew" class="container">
        <form>
            <div class="form-group row">
                <label for="newCondition_label" class="col-sm-2 col-form-label"
                       jhiTranslate="trialslinkApp.condition.label">Label</label>
                <div class="col-sm-10">
                    <!--<ng-select id="newCondition_label" [multiple]="false"
                               [items]="knownConditions"
                               (selected)="onConditionSelect($event)"
                               placeholder="Mandatory (condition must be selected)"
                               class="ui-select-placeholder text-muted">
                    </ng-select>-->
                    <ng-select id="newCondition_label"
                               [items]="termlexConditions"
                               placeholder="Add Conditions"
                               bindLabel="label"
                               [multiple]="true"
                               [hideSelected]="true"
                               [editable]='true'
                               [loading]="conditionsLoading"
                               (add)="onConditionItemAdded($event)"
                               [typeahead]="conditionsTypeahead"
                               [ngModel]="[]"
                               [maxItems]="1"
                               [ngModelOptions]="{standalone: true}">
                    </ng-select>
                    <!--<tag-input id="newCondition_label" secondaryPlaceholder="Search for conditions" placeholder="Add condition"
                               [identifyBy]="'value'" [displayBy]="'display'"
                               minimumTextLength="3"
                               [ngModel]="[]" [onlyFromAutocomplete]="true" [editable]='true'
                               (onAdd)="onConditionItemAdded($event)"
                                [maxItems]="1"
                                [ngModelOptions]="{standalone: true}">
                        <tag-input-dropdown
                            [autocompleteObservable]='requestAutocompleteItems'>
                        </tag-input-dropdown>
                    </tag-input>-->
                </div>
            </div>
            <div *ngIf="isHidden" class="form-group row">
                <label for="newCondition_status" class="col-sm-2 col-form-label"
                       jhiTranslate="trialslinkApp.condition.status">Status</label>
                <div class="col-sm-10">
                    <ng-select id="newCondition_status" [multiple]="false"
                               [items]="knownStatuses"
                               (selected)="onStatusSelect($event)"
                               placeholder="Optional (condition applies to all statuses)"
                               class="ui-select-placeholder text-muted">
                    </ng-select>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <button class="btn btn-outline-danger" (click)="addingNew = false;">
                        <span class="fa fa-remove"></span>
                        <span class="hidden-md-down" jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" class="btn btn-outline-success" (click)="save()">
                        <span class="fa fa-save"></span>
                        <span class="hidden-md-down" jhiTranslate="entity.action.save">Save</span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="table-responsive-card" *ngIf="conditions">

        <!--<div *ngIf="gridLayout" class="container">-->
            <!--<masonry>-->
                <!--<masonry-brick *ngFor="let condition of conditions; trackBy: trackId">-->
                    <!--<jhi-condition-detail [condition]="condition" [gridLayout]="gridLayout"></jhi-condition-detail>-->
                <!--</masonry-brick>-->
            <!--</masonry>-->
        <!--</div>-->
        <div *ngIf="!gridLayout">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span jhiTranslate="trialslinkApp.condition.label">Label</span></th>
                    <th><span jhiTranslate="trialslinkApp.condition.status">Status</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let condition of conditions; trackBy: trackId">
                    <jhi-condition-detail [condition]="condition" [knownConditions]="knownConditions" [knownStatuses]="knownStatuses" [gridLayout]="gridLayout"></jhi-condition-detail>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
