.badge-status {
    background-color: #f1f1f1;
    color: #6761A8;
    font-style: italic;
    font-size: small;
    font-weight: normal;
    margin-left: -10px;
}

.badge-purple {
    background-color: #f1f1f1!important;
    color: black!important;
    font-size: small;
    font-weight: 400;
}
