<div class="badge badge-purple">
    <span *ngIf="condition.status" style="margin-right: 5px;">{{condition.label}}</span>
    <span *ngIf="!condition.status">{{condition.label}}</span>
</div>
<div *ngIf="condition.status" class="badge badge-status">{{condition.status}}</div>
