<div class="card trial-details-jumbo">
    <h3 class="card-header trial-title">About Find A Study @UCLH</h3>
    <div class="card-body">
        <p>Find A Study @ UCLH is a platform designed to make it easier for members of the public, patients,
            healthcare professionals and researchers to find all studies that are open with a goal to improve
            visibility of the landscape of research currently happening across UCLH whilst increasing choice,
            transparency and study recruitment.
        </p>

        <h4><strong>How Does It Work?</strong></h4>
        <p>We have developed this platform initially to enable you to find research studies that may be suitable for your
            patients. The next phase will be to enable patients themselves to identify studies that they may be
            interested in and would like to take part via our UCLH EHR, Epic (MyCare Patient Portal).
            We have adopted an agile development methodology and this means that we are iteratively developing
            this platform and your feedback is welcome!
        </p>
    </div>
</div>