<div *ngIf="trialCentre">
    <h2><span jhiTranslate="trialslinkApp.trialCentre.detail.title">Trial Centre</span> {{trialCentre.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="trialslinkApp.trialCentre.name">Name</span></dt>
        <dd>
            <span>{{trialCentre.name}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.trialCentre.startDate">Start Date</span></dt>
        <dd>
            <span>{{trialCentre.startDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.trialCentre.endDate">End Date</span></dt>
        <dd>
            <span>{{trialCentre.endDate | date:'medium'}}</span>
        </dd>
        <!--<dt><span jhiTranslate="trialslinkApp.trialCentre.days">Days</span></dt>-->
        <!--<dd>-->
            <!--<span>{{trialCentre.days}}</span>-->
        <!--</dd>-->
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'trial-centre/'+ trialCentre.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
