<div class="row">
    <!--<div class="col-sm-6">
        <jhi-contact-list [trialCentre]="trialCentre"></jhi-contact-list>
    </div>-->
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header"><strong>Status</strong></div>
            <div class="card-body">
                <dl class="row-md jh-entity-details">
                    <dt><span jhiTranslate="trialslinkApp.trialCentre.status">Status</span></dt>
                    <dd>
                        <span class="badge success">{{trialCentre.status}}</span>
                    </dd>
                    <dt><span jhiTranslate="trialslinkApp.trialCentre.startDate">Start Date</span></dt>
                    <dd>
                        <span>{{trialCentre.startDate | date:'longDate'}}</span>
                    </dd>
                    <dt><span jhiTranslate="trialslinkApp.trialCentre.endDate">End Date</span></dt>
                    <dd>
                        <span>{{trialCentre.endDate | date:'longDate'}}</span>
                    </dd>
                    <dt><span>Address</span></dt>
                    <dd>
                        <span>{{trialCentre.address.street}}, {{trialCentre.address.city}},
                    {{trialCentre.address.postalCode}}, {{trialCentre.address.country}}</span>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
