<div>
    <h4 *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PRIVILEGED']">
        <span jhiTranslate="trialslinkApp.trialCentre.home.title">Trial Centres</span>
        <button class="btn btn-outline-success btn-sm float-right create-trial-centre" type="button"
                [routerLink]="['/', { outlets: { popup: 'trial-centre-new/' +trial.id + '/create'} }]" replaceUrl="true">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="trialslinkApp.trialCentre.home.createLabel">
            Create new Trial Centre
            </span>
        </button>
    </h4>
    <!--<jhi-alert></jhi-alert>-->
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="trialCentres.length == 0">
        <div class="alert alert-warning ">
            <span jhiTranslate="trialslinkApp.trialCentre.home.missingLabel">Oh no! You do not seem to have any trial centres for this trial. Do you want to add one?</span>
        </div>
    </div>
    <div class="table-responsive" *ngIf="trialCentres.length > 0">
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <ngb-panel *ngFor="let trialCentre of trialCentres;">
                <ng-template ngbPanelTitle>
                    <span class="fa fa-users"></span>
                    &nbsp;
                    <span><b>{{trialCentre.name}}</b></span>
                    <div *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PRIVILEGED']" class="btn-group float-right flex-btn-group-container">
                        <button class="btn btn-outline-success btn-sm float-right"
                                [routerLink]="['/', { outlets: { popup: 'contact-new/' +trialCentre.id + '/create' } }]">
                            <span class="fa fa-plus"></span>
                            <span  jhiTranslate="trialslinkApp.contact.home.createLabel">
                            Create new Contact
                            </span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'trial-centre/'+ trialCentre.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-outline-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'trial-centre/'+ trialCentre.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-outline-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </ng-template>
                <ng-template ngbPanelContent>
                    <trial-centre-card [trialCentre]="trialCentre"></trial-centre-card>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>
