<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAgeLabel" jhiTranslate="trialslinkApp.age.home.createOrEditLabel">Create or edit a Age</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!age.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="age.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.age.value" for="field_value">Value</label>
            <input type="number" class="form-control" name="value" id="field_value"
                [(ngModel)]="age.value" required/>
            <div [hidden]="!(editForm.controls.value?.dirty && editForm.controls.value?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.value?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.value?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.age.unit" for="field_unit">Unit</label>
            <select class="form-control" name="unit" [(ngModel)]="age.unit" id="field_unit"  required>
                <option value="YEARS">{{'trialslinkApp.AgeUnit.YEARS' | translate}}</option>
                <option value="MONTHS">{{'trialslinkApp.AgeUnit.MONTHS' | translate}}</option>
                <option value="WEEKS">{{'trialslinkApp.AgeUnit.WEEKS' | translate}}</option>
                <option value="DAYS">{{'trialslinkApp.AgeUnit.DAYS' | translate}}</option>
                <option value="HOURS">{{'trialslinkApp.AgeUnit.HOURS' | translate}}</option>
                <option value="MINUTES">{{'trialslinkApp.AgeUnit.MINUTES' | translate}}</option>
                <option value="NA">{{'trialslinkApp.AgeUnit.NA' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.unit?.dirty && editForm.controls.unit?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.unit?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
