<div>
    <h2>
        <span jhiTranslate="trialslinkApp.savedSearch.home.title">Saved Searches</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="savedSearches">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th class="text-center" jhiSortBy="title"><span jhiTranslate="trialslinkApp.savedSearch.title">Title</span> <span class="fa fa-sort"></span></th>
                <th class="text-center" jhiSortBy="createdAt"><span jhiTranslate="trialslinkApp.savedSearch.createdAt">Created At</span> <span class="fa fa-sort"></span></th>
                <th class="text-center"><span jhiTranslate="trialslinkApp.savedSearch.shouldNotify">Notifications</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <!--TODO Make each row a clickable link to the search results page-->
            <tr *ngFor="let savedSearch of savedSearches ;trackBy: trackId">
                <td><a href="{{savedSearch.url}}">{{savedSearch.title}}</a></td>
                <td class="text-center">{{savedSearch.createdAt | date:'medium'}}</td>
                <td class="text-center"><ui-switch [(ngModel)]="savedSearch.shouldNotify" (change)="toggleNotificationPreference($event, savedSearch)"></ui-switch></td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <!--<button type="submit"
                                [routerLink]="['../saved-search', savedSearch.id ]"
                                class="btn btn-outline-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'saved-search/'+ savedSearch.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-outline-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>-->
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'saved-search/'+ savedSearch.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-outline-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="savedSearches && savedSearches.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
