
<div *ngIf="concept">
    <h2><span jhiTranslate="trialslinkApp.concept.detail.title">Concept</span> {{concept.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="trialslinkApp.concept.label">Label</span></dt>
        <dd>
            <span>{{concept.label}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.concept.system">System</span></dt>
        <dd>
            <span>{{concept.system}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.concept.code">Code</span></dt>
        <dd>
            <span>{{concept.code}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.concept.type">Type</span></dt>
        <dd>
            <span>{{concept.type}}</span>
        </dd>
        <dt *ngIf="concept.children.length > 0"><span jhiTranslate="trialslinkApp.concept.children">Children</span></dt>
        <dd>
            <ul>
                <li *ngFor="let child of concept.children">
                    <a [routerLink]="['/concept', child ]">{{child}}</a>
                </li>
            </ul>
        </dd>
        <dt *ngIf="concept.parents.length > 0"><span jhiTranslate="trialslinkApp.concept.parents">Parents</span></dt>
        <dd>
            <ul>
                <li *ngFor="let parent of concept.parents">
                    <a [routerLink]="['/concept', parent ]">{{parent}}</a>
                </li>
            </ul>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'concept/'+ concept.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
