<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myInterventionLabel" jhiTranslate="trialslinkApp.intervention.home.createOrEditLabel">Create or edit a Intervention</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--<div class="form-group" [hidden]="!intervention.id">-->
            <!--<label for="id" jhiTranslate="global.field.id">ID</label>-->
            <!--<input type="text" class="form-control" id="id" name="id"-->
                   <!--[(ngModel)]="intervention.id" readonly />-->
        <!--</div>-->
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.intervention.label" for="field_label">Label</label>
            <input id="field_label" type="text" class="form-control" name="label"  [(ngModel)]="intervention.label" [ngbTypeahead]="search" placeholder="Search" />
            <div [hidden]="!(editForm.controls.label?.dirty && editForm.controls.label?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.label?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.intervention.system" for="field_system">System</label>
            <input type="text" class="form-control" name="system" id="field_system"
                [(ngModel)]="intervention.system" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.intervention.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="intervention.code" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.intervention.type" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                [(ngModel)]="intervention.type" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
