<style>
    .my-drop-zone { border: dotted 3px lightgray; }
    .well {
        min-height: 20px; padding: 19px;
        margin-bottom: 20px;
    .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
    }
</style>

<div class="card trial-details-jumbo">
    <h3 class="card-header trial-title">
        Reviewing and importing trials
        <div *ngIf="trialReviewer && !imported && !showSpinner">
        <div class="float-right" role="toolbar">
            <div class="btn-group" role="group">
                <button (click)="void"
                        class="btn btn-success btn-sm">
                    <span class="fa fa-thumbs-o-up"></span>
                    <span class="d-none d-md-inline">Accept All</span>
                </button>
                <button (click)="rejectAll()"
                        class="btn btn-danger btn-sm">
                    <span class="fa fa-thumbs-o-down"></span>
                    <span class="d-none d-md-inline">Reject All</span>
                </button>
            </div>
        </div>
        </div>
    </h3>
    <div class="card-body">
        <div *ngIf="!uploaded && !trialReviewer">
            <h3><strong>Select a file</strong></h3>
            <div class="form-group">
                <input type="file" ng2FileSelect [uploader]="uploader">
            </div>

            <h3><strong>OR</strong></h3>

            <div ng2FileDrop
                 [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                 (fileOver)="fileOverBase($event)"
                 [uploader]="uploader"
                 class="well my-drop-zone">
                Drag and drop the file here
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs"
                                (click)="upload(item)" >
                            <span class="fa fa-upload"></span> Upload
                        </button>
                        <button type="button" class="btn btn-danger btn-xs"
                                (click)="item.remove()">
                            <span class="fa fa-remove"></span> Remove
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="uploaded">
            <h3><strong>Click the button to review the trials</strong></h3>
            <button (click)="review()"
                    class="btn btn-info btn-sm">
                <span class="d-none d-md-inline" >Review</span>
            </button>
        </div>

        <div *ngIf="trialReviewer && !imported && !showSpinner">
            <div class="float-right" role="toolbar">
                <div class="btn-group" role="group">
                    <button *ngIf="toBeAdded" class="btn btn-outline-success btn-sm" (click)="showToBeAddedButton()">
                        <span class="fa fa-plus-square"></span>
                        <span>To Be Added</span>
                    </button>
                    <button *ngIf="toBeUpdated" class="btn btn-outline-warning btn-sm" (click)="showToBeUpdatedButton()">
                        <span class="fa fa-pencil-square"></span>
                        <span>To Be Updated</span>
                    </button>
                    <button *ngIf="toBeDeleted" class="btn btn-outline-danger btn-sm" (click)="showToBeDeletedButton()">
                        <span class="fa fa-minus-square"></span>
                        <span>To Be Deleted</span>
                    </button>
                </div>
            </div>
            <br><br>

            <br><br>
            <table class="table table-striped table-responsive">
                <tr>
                    <th>Edge Id</th>
                    <th>Trial title</th>
                    <th>
                        <!-- Leaving empty deliberately to maintain table formatting for button actions in rows-->
                    </th>
                </tr>
                <div *ngIf="showToBeAdded">
                    <tr *ngFor="let item of toBeAdded ">
                        <td>{{item.id}}</td>
                        <td class="div-pre">{{ item.title }}</td>
                        <td><div class="btn-group flex-btn-group-container">
                            <button (click)="void"
                                    class="btn btn-success btn-sm">
                                <span class="fa fa-thumbs-o-up"></span>
                                <span class="d-none d-md-inline">Accept</span>
                            </button>
                            <button (click)="toBeAdded.delete(key)"
                                    class="btn btn-danger btn-sm">
                                <span class="fa fa-thumbs-o-down"></span>
                                <span class="d-none d-md-inline" >Reject</span>
                            </button>
                        </div></td>
                    </tr>
                </div>
                <div *ngIf="showToBeUpdated">
                    <tr *ngFor="let item of toBeUpdated">
                        <td>{{item.id}}</td>
                        <td class="div-pre">{{item.title}}</td>
                        <td><div class="btn-group flex-btn-group-container">
                            <button (click)="void"
                                    class="btn btn-success btn-sm">
                                <span class="fa fa-thumbs-o-up"></span>
                                <span class="d-none d-md-inline" >Accept</span>
                            </button>
                            <button (click)="toBeUpdated.delete(key)"
                                    class="btn btn-danger btn-sm">
                                <span class="fa fa-thumbs-o-down"></span>
                                <span class="d-none d-md-inline" >Reject</span>
                            </button>
                        </div></td>
                    </tr>
                </div>
                <div *ngIf="showToBeDeleted">
                    <tr *ngFor="let item of toBeDeleted">
                        <td>{{item.id}}</td>
                        <td>{{item.title}}</td>
                        <td><div class="btn-group flex-btn-group-container">
                            <button (click)="void"
                                    class="btn btn-success btn-sm">
                                <span class="fa fa-thumbs-o-up"></span>
                                <span class="d-none d-md-inline" >Accept</span>
                            </button>
                            <button (click)="toBeDeleted.delete(key)"
                                    class="btn btn-danger btn-sm">
                                <span class="fa fa-thumbs-o-down"></span>
                                <span class="d-none d-md-inline" >Reject</span>
                            </button>
                        </div></td>
                    </tr>
                </div>
            </table>
            <button (click)="import()"
                    class="btn btn-info btn-sm">
                <span class="d-none d-md-inline" >Import</span>
            </button>
        </div>
        <div *ngIf="showSpinner && !imported">
            <mat-spinner mode="indeterminate" diameter="40"></mat-spinner>
            <h3><strong>Trials are getting imported</strong></h3>
        </div>
        <div *ngIf="imported">
            <h3><strong>Trials are successfully imported</strong></h3>
        </div>
    </div>
</div>
