<div *ngIf="!idInfo">
    <div class="alert alert-warning ">
        <span jhiTranslate="trialslinkApp.idInfo.home.missingLabel">You do not seem to have any other identifiers for this trial. Do you want to add one?</span>
    </div>
</div>
<div *ngIf="idInfo">
    <jhi-alert-error></jhi-alert-error>
    <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="identifier">
            <mat-header-cell *matHeaderCellDef> Identifier </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.identifier}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
