
<div *ngIf="idInfo">
    <h2><span jhiTranslate="trialslinkApp.idInfo.detail.title">Id Info</span> {{idInfo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="trialslinkApp.idInfo.protocolId">Protocol Id</span></dt>
        <dd>
            <span>{{idInfo.protocolId}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.idInfo.nctId">Nct Id</span></dt>
        <dd>
            <span>{{idInfo.nctId}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'id-info/'+ idInfo.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
