<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myIdInfoLabel" jhiTranslate="trialslinkApp.idInfo.home.createOrEditLabel">Create or edit a Id Info</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!idInfo.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="idInfo.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.idInfo.protocolId" for="field_protocolId">Protocol Id</label>
            <input type="text" class="form-control" name="protocolId" id="field_protocolId"
                [(ngModel)]="idInfo.protocolId" required/>
            <div [hidden]="!(editForm.controls.protocolId?.dirty && editForm.controls.protocolId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.protocolId?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.idInfo.nctId" for="field_nctId">Nct Id</label>
            <input type="text" class="form-control" name="nctId" id="field_nctId"
                [(ngModel)]="idInfo.nctId" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
