<div>
    <h2 *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PRIVILEGED']">
        <!--<span jhiTranslate="trialslinkApp.characteristic.home.title">Characteristics</span>-->
        <button class="btn btn-success float-right create-characteristic" [routerLink]="['/', { outlets: { popup: 'characteristic-new/'+ trial.id + '/create'} }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="trialslinkApp.characteristic.home.createLabel">
            Create new Characteristic
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="characteristics">
        <div *ngFor="let characteristic of characteristics ;trackBy: trackId">
            <div class="col-sm-8">
                <span *ngIf="!characteristic.exclusive"><strong>Inclusion Criteria</strong></span>
                <span *ngIf="characteristic.exclusive"><strong>Exclusion Criteria</strong></span>
                <div class="div-pre">
                    {{characteristic.criteria}}

                </div>
            </div><br>
            <div class="col-sm-4">
                <dl class="jh-entity-details"  *ngIf="!characteristic.exclusive">
                    <dt><span jhiTranslate="trialslinkApp.characteristic.minAge">Min Age</span></dt>
                    <dd *ngIf="characteristic.minAge">
                        <span>{{characteristic.minAge.value}}</span>&nbsp;<span>{{characteristic.minAge.unit}}</span><br>
                    </dd>
                    <dd *ngIf="!characteristic.minAge">
                        <span>No minimum age specified</span>
                    </dd>
                    <dt><span jhiTranslate="trialslinkApp.characteristic.maxAge">Max Age</span></dt>
                    <dd *ngIf="characteristic.maxAge">
                        <span>{{characteristic.maxAge.value}}</span>&nbsp;<span>{{characteristic.maxAge.unit}}</span><br>
                    </dd>
                    <dd *ngIf="!characteristic.maxAge">
                        <span>No maximum age specified</span>
                    </dd>
                    <dt><span jhiTranslate="trialslinkApp.characteristic.sex">Sex</span></dt>
                    <dd>
                        <span jhiTranslate="{{'trialslinkApp.Sex.' + characteristic.sex}}">{{characteristic.sex}}</span>
                    </dd>
                    <dt><span *ngIf="characteristic.acceptHealthyVolunteers" jhiTranslate="trialslinkApp.characteristic.acceptHealthyVolunteers">Accept Healthy Volunteers</span></dt>
                    <dd>
                        <span>{{characteristic.acceptHealthyVolunteers}}</span>
                    </dd>
                </dl>
                <div *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PRIVILEGED']" class="btn-group flex-btn-group-container">
                    <button type="submit"
                            [routerLink]="['/', { outlets: { popup: 'characteristic/'+ characteristic.id + '/edit'} }]"
                            replaceUrl="true"
                            class="btn btn-primary btn-sm">
                        <span class="fa fa-pencil"></span>
                        <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                    </button>
                    <button type="submit"
                            [routerLink]="['/', { outlets: { popup: 'characteristic/'+ characteristic.id + '/delete'} }]"
                            replaceUrl="true"
                            class="btn btn-danger btn-sm">
                        <span class="fa fa-remove"></span>
                        <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
