<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCharacteristicLabel" jhiTranslate="trialslinkApp.characteristic.home.createOrEditLabel">Create or edit a Characteristic</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.characteristic.criteria" for="field_criteria">Criteria</label>
            <textarea rows="4" cols="50" class="form-control" name="criteria" id="field_criteria"
                [(ngModel)]="characteristic.criteria"
            required></textarea>
            <div [hidden]="!(editForm.controls.criteria?.dirty && editForm.controls.criteria?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.criteria?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.characteristic.minAge" for="field_minage">Minimum Age</label>
            <div class="row">
                <div class="col-6">
                    <input type="number" class="form-control" name="minage" id="field_minage"
                           [(ngModel)]="characteristic.minAge"
                            />
                </div>
                <div class="col-6">
                    <select class="form-control" name="min_age_unit" [(ngModel)]="characteristic.minAge" id="min_age_unit"  required>
                        <option value="YEARS">YEARS</option>
                        <!--<option value="MONTHS">MONTHS</option>-->
                        <!--<option value="WEEKS">WEEKS</option>-->
                        <!--<option value="DAYS">DAYS</option>-->
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.characteristic.maxAge" for="field_maxage">Maximum Age</label>
            <div class="row">
                <div class="col-6">
                    <input type="number" class="form-control" name="maxage" id="field_maxage"
                           [(ngModel)]="characteristic.maxAge"
                            />
                </div>
                <div class="col-6">
                    <select class="form-control" name="max_age_unit" [(ngModel)]="characteristic.maxAge" id="max_age_unit"  required>
                        <option value="YEARS">YEARS</option>
                        <!--<option value="MONTHS">MONTHS</option>-->
                        <!--<option value="WEEKS">WEEKS</option>-->
                        <!--<option value="DAYS">DAYS</option>-->
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.characteristic.sex" for="field_sex">Sex</label>
            <select class="form-control" name="sex" [(ngModel)]="characteristic.sex" id="field_sex"  required>
                <option value="MALE">{{'trialslinkApp.Sex.MALE' | translate}}</option>
                <option value="FEMALE">{{'trialslinkApp.Sex.FEMALE' | translate}}</option>
                <option value="ALL">{{'trialslinkApp.Sex.ALL' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.sex?.dirty && editForm.controls.sex?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.sex?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trialslinkApp.characteristic.acceptHealthyVolunteers" for="field_acceptHealthyVolunteers">Accept Healthy Volunteers</label>
            <input type="checkbox" class="form-control" name="acceptHealthyVolunteers" id="field_acceptHealthyVolunteers"
                [(ngModel)]="characteristic.acceptHealthyVolunteers" />
            <div [hidden]="!(editForm.controls.acceptHealthyVolunteers?.dirty && editForm.controls.acceptHealthyVolunteers?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.acceptHealthyVolunteers?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" class="btn btn-primary" (click)="save()">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
