<div class="row">
    <!--<ngx-loading [show]="inProgress" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>-->
    <!--<div class="row margin-bottom-15">-->
        <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
            <!--<div class="btn-toolbar float-right" role="toolbar">-->
                <!--<div class="btn-group mr-2" role="group" *ngIf="(isOmniSearch || isSearchQuery) && !savedSearchSuccess && currentAccount">-->
                    <!--<button class="btn btn-warning btn-secondary" (click)="saveSearch()">-->
                        <!--<span class="fa fa-star-o"></span>-->
                        <!--<span jhiTranslate="trialslinkApp.trial.home.saveSearch">Save this search</span>-->
                    <!--</button>-->
                <!--</div>-->
                <!--<div class="btn-group mr-2" role="group" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PRIVILEGED']">-->
                    <!--<button class="btn btn-success float-right create-trial" [routerLink]="['/', { outlets: { popup: ['trial-new'] } }]">-->
                        <!--<span class="fa fa-plus"></span>-->
                        <!--<span  jhiTranslate="trialslinkApp.trial.home.createLabel">Create new Trial</span>-->
                    <!--</button>-->
                <!--</div>-->

                <!--<div class="btn-group mr-2" role="group" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PRIVILEGED']">-->
                    <!--<button class="btn btn-warning float-right" [routerLink]="['/', { outlets: { popup: 'trial-import-new' } }]">-->
                        <!--<span class="fa fa-plus"></span>-->
                        <!--<span  jhiTranslate="trialslinkApp.trial.home.importLabel">Import New Trial</span>-->
                    <!--</button>-->
                <!--</div>-->
                <!--<div class="btn-group mr-2" role="group" *jhiHasAnyAuthority="'ROLE_ADMIN'" >-->
                    <!--<button class="btn btn-danger" (click)="indexAllTrials()">-->
                        <!--<span class="fa fa-cog"></span>-->
                        <!--<span jhiTranslate="trialslinkApp.trial.home.indexLabel">Index all trials</span>-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<jhi-alert></jhi-alert>-->
    <div class="row margin-bottom-15">
        <div class="col-sm-12 no-padding-right" *ngIf="currentSearch && trials.length == 0">
            <div class="alert alert-info">
                <span>No matches were for for this id. Use like the import button above to import from Clinical Trials!</span>
            </div>
        </div>
    </div>
    <!--<div class="row margin-bottom-15" *ngIf="(isOmniSearch || isSearchQuery) && (savedSearchSuccess || savedSearchError)">-->
        <!--<div class="col-sm-12 no-padding-right">-->
            <!--<div class="alert alert-success" [ngClass]="{'alert-success': savedSearchSuccess, 'alert-danger': savedSearchError}">-->
                <!--<span *ngIf="savedSearchSuccess">Search saved successfully!</span>-->
                <!--<span *ngIf="savedSearchError">Error saving search</span>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="container text-center">-->
        <!--<h1>Search for trials by condition</h1>-->
    <!--</div>-->
    <div class="container margin-bottom-15 col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-left: 25px;">
        <div class="card trial-details-jumbo">
            <div class="card-header trial-title">
                Search for trials
                <div class="btn-group btn-group-toggle float-right" ngbRadioGroup name="sortPredicate" [ngModel]="predicate" (ngModelChange)="updatedPredicate($event)">
                    <!--<label ngbButtonLabel class="btn btn-outline-secondary btn-sm">
                        <input ngbButton type="radio" value="briefTitle">
                        <span class="d-none d-sm-block">Display Title</span>
                        <span ngbTooltip="Sort by Title" placement="bottom" class="d-block d-sm-none"><i class="fa fa-text-height" aria-hidden="true"></i></span>
                    </label>-->
                    <div class="trial-details-link"> Sort by </div>&nbsp;&nbsp;
                    <label ngbButtonLabel class="btn btn-outline-secondary btn-sm">
                        <input ngbButton type="radio" value="lastModifiedDate">
                        <span class="d-none d-sm-block">Last Updated Date</span>
                        <span ngbTooltip="Sort by Last Update" class="d-block d-sm-none"><i class="fa fa-edit" aria-hidden="true"></i></span>
                    </label>
                    <label ngbButtonLabel class="btn btn-outline-secondary btn-sm">
                        <input ngbButton type="radio" value="createdDate">
                        <span class="d-none d-sm-block">Created Date</span>
                        <span ngbTooltip="Sort by Created time" placement="bottom" class="d-block d-sm-none"><i class="fa fa-history" aria-hidden="true"></i></span>
                    </label>
                    <label ngbButtonLabel class="btn btn-outline-secondary btn-sm">
                        <input ngbButton type="radio" value="startDate">
                        <span class="d-none d-sm-block">Recently Opened</span>
                        <span ngbTooltip="Sort by Recently Opened" placement="bottom" class="d-block d-sm-none"><i class="fa fa-edit" aria-hidden="true"></i></span>
                    </label>
                    <label ngbButtonLabel class="btn btn-outline-secondary btn-sm">
                        <span (click)="sortPredicate()" [ngClass]="setSortIcon()" ngbTooltip="Click to toggle sort order" placement="bottom"></span>
                    </label>
                </div>
            </div>
            <div *ngIf="showSemanticSearch">
                <div class="card-body" *ngIf="preferOmnisearch">
                    <ng-select [items]="termlexConditions"
                               placeholder="Search for conditions"
                               bindLabel="label"
                               [multiple]="true"
                               [hideSelected]="true"
                               [loading]="conditionsLoading"
                               (add)="onConditionItemAdded($event)"
                               (remove)="onConditionItemRemoved($event)"
                               (clear)="clearCondtions()"
                               [typeahead]="conditionsTypeahead"
                               [(ngModel)]="dropDownConditions">
                    </ng-select>
                    <!--<ng-select [multiple]="true"-->
                               <!--[items]="conditions"-->
                               <!--bindLabel="display"-->
                               <!--bindValue="id"-->
                               <!--[(ngModel)]="selectedConditions"-->
                               <!--[typeahead]="requestAutocompleteItems"-->
                               <!--(remove)="removedCondition($event)"-->
                               <!--placeholder="Type to search by condition(s)">-->
                    <!--</ng-select>-->



            <!--<div class="card-body" *ngIf="showSemanticSearch">
                <tag-input secondaryPlaceholder="Search for conditions" placeholder="Add condition"
                           [identifyBy]="'value'" [displayBy]="'display'"
                           minimumTextLength="3"
                           [ngModel]="dropDownConditions" [onlyFromAutocomplete]="true"
                           (onRemove)="onConditionItemRemoved($event)"
                           (onAdd)="onConditionItemAdded($event)">
                    <tag-input-dropdown
                                        [autocompleteObservable]='requestAutocompleteItems'>
                    </tag-input-dropdown>

                </tag-input>

            </div>-->
                    <div class="float-right">
                    <mat-slide-toggle style="float:right" [checked]="checked" (change)="addAncestors($event)" >Include Ancestors</mat-slide-toggle>

<!--                <div class="btn-group btn-group-toggle float-right" ngbRadioGroup [(ngModel)]="flag" (ngModelChange)="addAncestors($event)" >-->
<!--                    -->
<!--                    <label ngbButtonLabel class="btn btn-outline-secondary btn-sm">-->
<!--                    <input ngbButton type="radio" class="btn btn-secondary btn-sm" value="true">-->
<!--                    <span class = "d-none d-sm-block">Include Ancestors </span>-->
<!--                    <span class="d-block d-sm-none"><i class="fa fa-edit" aria-hidden="true"></i></span>-->
<!--                </label>-->
<!--                 <label ngbButtonLabel class="btn btn-outline-secondary btn-sm">-->
<!--                        <input ngbButton type="radio"  class="btn btn-secondary btn-sm" value ="false">-->
<!--                        <span class = "d-none d-sm-block">Exclude Ancestors</span>-->
<!--                        <span class="d-block d-sm-none"><i class="fa fa-edit" aria-hidden="true"></i></span>-->
<!--                </label></div>-->
                </div>
                </div></div>


            <div class="card-body" *ngIf="preferOmnisearch">
                <input type="text" class="form-control"  [(ngModel)]="query.token" (ngModelChange)="updateRoute()"
                       id="currentSearch_sm1" name="currentSearch" placeholder="{{ 'trialslinkApp.trial.home.search' | translate }}">

            </div>
            <div class="card-footer">
                <small>Showing <b>{{trials.length}}</b> of <b>{{totalItems}}</b> trials</small>
                <div class="float-right">
                    <!--<ui-switch size="small" [(ngModel)]="useMaterial"></ui-switch>-->
                    <div class="float-right" role="toolbar">
                        <div class="btn-group" role="group">
                            <button *ngIf="(isOmniSearch || isSearchQuery) && !savedSearchSuccess && currentAccount"
                                    class="btn btn-outline-info btn-sm" (click)="saveSearch()">
                                <span class="fa fa-star-o"></span>
                                <span jhiTranslate="trialslinkApp.trial.home.saveSearch">Save this search</span>
                            </button>
                            <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PRIVILEGED']"
                                    class="btn btn-outline-success btn-sm create-trial" [routerLink]="['/', { outlets: { popup: ['trial-new'] } }]">
                                <span class="fa fa-plus"></span>
                                <span  jhiTranslate="trialslinkApp.trial.home.createLabel">Create new Trial</span>
                            </button>
                            <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PRIVILEGED']"
                                    class="btn btn-outline-info btn-sm" [routerLink]="['/', { outlets: { popup: ['trial-import-new'] } }]">
                                <span class="fa fa-plus"></span>
                                <span  jhiTranslate="trialslinkApp.trial.home.importLabel">Import New Trial</span>
                            </button>
                            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn btn-outline-danger btn-sm" (click)="indexAllTrials()">
                                <span class="fa fa-cog"></span>
                                <span jhiTranslate="trialslinkApp.trial.home.indexLabel">Index all trials</span>
                            </button>
                            <button class="btn btn-secondary btn-sm" (click)="showSemanticSearch = !showSemanticSearch">
                                <!--<span *ngIf="showSemanticSearch" class="fa-stack fa-1x has-badge" data-count="beta">
                                  <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                                </span>-->
                                <span *ngIf="!showSemanticSearch" ngbTooltip="Search trials by meaning of words" placement="bottom">Semantic Search</span>
                                <span *ngIf="showSemanticSearch">Hide Semantic Search</span>
                                <span class="badge badge-beta superscript">beta</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="row m-1 w-100">
        <div class="col-md-3 d-none d-sm-block">
            <div class="card trial-details-jumbo">
                <div class="card-header trial-title">
                    Refine By
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        <div *ngIf="!preferOmnisearch" >
                        <input type="text" class="form-control"  [(ngModel)]="query.token" (ngModelChange)="updateRoute()"
                               id="query.token" name="query.token" placeholder="{{ 'trialslinkApp.trial.home.search' | translate }}">
                        <br>
                        </div>
                        <input type="number" class="form-control" name="age" id="query_age"
                               [(ngModel)]="query.age" (change)="updateRoute()" placeholder="Patient age"/>
                    </h4>
                    <div class="card-text" *ngFor="let category of categories;">
                        <br/>
                        <h6>
                            <span class="text-capitalize" ><b>{{categoryKeyLookup[category.key]}}</b></span>
                        </h6>
                        <ul *ngFor="let item of category.items;" class="list-unstyled small filter-item">
                            <li class="list-group-item-action justify-content-between">
                                <label class="form-check-label">
                                    <input (change)="updateFilters(category.key, item.type)" class="form-check-input" type="checkbox" [checked]="setCheckState(category.key, item.type)">
                                    <div *ngIf="category.key == 'sites'" class="text-capitalize">{{conditionsLookup[item.type].text}} <span class="filter-counts">&nbsp;({{item.count}})</span></div>
                                    <div *ngIf="category.key == 'areas'" class="text-capitalize">{{conditionsLookup[item.type].text}} <span class="filter-counts">&nbsp;({{item.count}})</span></div>
                                    <div *ngIf="category.key == 'phases'" class="text-capitalize">{{phaseLookup[item.type]}} <span class="filter-counts">&nbsp;({{item.count}})</span></div>
                                    <div *ngIf="category.key != 'locations' && category.key != 'conditionStatuses' && category.key != 'phases' && category.key != 'sites' && category.key != 'areas'" class="text-capitalize">{{item.type}}<span class="filter-counts">&nbsp;({{item.count}})</span></div>
                                    <div *ngIf="category.key == 'locations' && locationsLookup" class="text-capitalize">{{locationsLookup[item.type].text}}<span class="filter-counts">&nbsp;({{item.count}})</span></div>
                                    <div *ngIf="category.key == 'conditionStatuses' && knownStatuses" class="text-capitalize">{{knownStatuses[item.type].text}}<span class="filter-counts">&nbsp;({{item.count}})</span></div>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="d-md-none margin-bottom-15">
                        <a class="btn btn-danger btn-block btn-compose-email" (click)="showSmallScreenFilters = !showSmallScreenFilters">Refine By</a>
                        <div class="card-block" *ngIf="showSmallScreenFilters">
                            <h4 class="card-title">
                                <div *ngIf="!brand==='uclh'" >
                                <br>
                                <input type="text" class="form-control" [(ngModel)]="query.token" (ngModelChange)="updateRoute()"
                                       id="currentSearch_sm" name="currentSearch" placeholder="{{ 'trialslinkApp.trial.home.search' | translate }}">
                                <br>
                                </div>
                                <input type="number" class="form-control" name="age" id="query_age_sm"
                                       [(ngModel)]="query.age" (change)="updateRoute()" placeholder="Patient age"/>
                            </h4>
                            <div class="card-text" *ngFor="let category of categories;">
                                <br/>
                                <h6>
                                    <span class="text-capitalize" ><b>{{categoryKeyLookup[category.key]}}</b></span>
                                </h6>
                                <ul *ngFor="let item of category.items;" class="list-group small filter-item">
                                    <li class="list-group-item justify-content-between">
                                        <label class="form-check-label">
                                            <input (change)="updateFilters(category.key, item.type)" class="form-check-input" type="checkbox" [checked]="setCheckState(category.key, item.type)">
                                            <div *ngIf="category.key == 'sites'" class="text-capitalize">{{conditionsLookup[item.type].text}} <span class="filter-counts">&nbsp;({{item.count}})</span></div>
                                            <div *ngIf="category.key == 'areas'" class="text-capitalize">{{conditionsLookup[item.type].text}} <span class="filter-counts">&nbsp;({{item.count}})</span></div>
                                            <div *ngIf="category.key == 'phases'" class="text-capitalize">{{phaseLookup[item.type]}} <span class="filter-counts">&nbsp;({{item.count}})</span></div>
                                            <div *ngIf="category.key != 'locations' && category.key != 'conditionStatuses' && category.key != 'phases' && category.key != 'sites' && category.key != 'areas'" class="text-capitalize">{{item.type}}<span class="filter-counts">&nbsp;({{item.count}})</span></div>
                                            <div *ngIf="category.key == 'locations' && locationsLookup" class="text-capitalize">{{locationsLookup[item.type].text}}<span class="filter-counts">&nbsp;({{item.count}})</span></div>
                                            <div *ngIf="category.key == 'conditionStatuses' && knownStatuses" class="text-capitalize">{{knownStatuses[item.type].text}}<span class="filter-counts">&nbsp;({{item.count}})</span></div>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div *ngIf="noTrials">
                        <div class="alert alert-warning ">
                            <span>Sorry! No matching trials were found for criteria you selected. Do you want to try changing your search criteria?</span>
                        </div>
                    </div>
                    <div *ngIf="trials && useMaterial && useInfiniteScroll" infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                        <search-result *ngFor="let trial of trials ;trackBy: trackId" [trial]="trial" [phaseLookup]="phaseLookup" [conditionsLookup]="conditionsLookup"></search-result>
                    </div>
                    <div *ngIf="trials && useMaterial && !useInfiniteScroll">
                        <search-result *ngFor="let trial of trials ;trackBy: trackId" [trial]="trial" [phaseLookup]="phaseLookup" [conditionsLookup]="conditionsLookup"></search-result>
                        <div class="text-center" *ngIf="trials.length != totalItems && trials.length != 0">
                            <div class="text-center"><small>Showing <b>{{trials.length}}</b> of <b>{{totalItems}}</b> trials</small></div>
                            <button class="btn btn-info" (click)="loadPage(page+1)">
                            <span>Load More</span>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="trials && !useMaterial">
                        <table class="table table-striped">
                            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                            <tr *ngFor="let trial of trials ;trackBy: trackId">
                                <td class="search-result">
                                    <a class="trial-title" *ngIf="!trial.shortName" [routerLink]="['../trial', trial.id ]">{{trial.briefTitle}}</a>
                                    <a class="trial-title" *ngIf="trial.shortName" [routerLink]="['../trial', trial.id ]"><span style="font-size: larger;">{{trial.shortName}}:</span>&nbsp; {{trial.briefTitle}}</a>
                                    <br>
                                    <span class="filter-counts" *ngFor="let condition of trial.conditions; let i = index;">
                                        <span *ngIf="i > 0 && i < (conditions.length - 1)" class="filter-counts"> ,</span>
                                        {{condition.label}}
                                    </span>
                                    <br>
                                    <div *ngFor="let phase of trial.phases;" class="badge badge-pill badge-default">{{phaseLookup[phase]}}</div>
                                    <div class="badge badge-pill badge-success">{{trial.status}}</div>
                                    <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn-group">
                                        <button type="submit"
                                                [routerLink]="['/', { outlets: { popup: 'trial/'+ trial.id + '/edit'} }]"
                                                replaceUrl="true"
                                                class="btn btn-primary btn-sm">
                                            <span class="fa fa-pencil"></span>
                                        </button>
                                        <button type="submit"
                                                [routerLink]="['/', { outlets: { popup: 'trial/'+ trial.id + '/delete'} }]"
                                                replaceUrl="true"
                                                class="btn btn-danger btn-sm">
                                            <span class="fa fa-trash-o"></span>
                                        </button>
                                    </div>
                                    <span class="clearfix borda"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

