<div *ngIf="trial">
    <ngx-loading [show]="inProgress" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <jhi-alert-error></jhi-alert-error>
    <div class="jumbotron trial-details-jumbo">
        <h4 class="trial-title" *ngIf="!trial.shortName">{{trial.briefTitle}}</h4>
        <h4 class="trial-title" *ngIf="trial.shortName"><span style="font-size: large;">{{trial.shortName}}:</span>&nbsp; {{trial.briefTitle}}</h4>
        <p >{{trial.briefSummary}}</p>
        <hr class="my-4">
        <div *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PRIVILEGED']">
            <div *ngIf="trial.verified==true"class="badge success">Verified</div>
            <div *ngIf="trial.verified==null || trial.verified==false"class="badge danger">NotVerified</div>
        </div>
        <div *ngFor="let phase of trial.phases;" class="badge info">{{phaseLookup[phase]}}</div>
        <div class="badge success">{{trial.status}}</div>
        <div class="badge primary">{{trial.type}}</div>
        <h4 *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PRIVILEGED']">
            <div *ngFor="let condition of trial.conditions">
                <condition-badge [condition]="condition"></condition-badge>
            </div>
        </h4>
        <div *ngIf="trial.keywords">
            <span class="text-right" jhiTranslate="trialslinkApp.trial.keywords"><b>Keywords</b></span>
            <span *ngFor="let keyword of trial.keywords;" class="badge primary">{{keyword}}</span>
        </div>
        <div>
            <div class="row margin-top-15">
                <div class="col-sm-6 trial-detail-dates">
                    <dl class="row-md jh-entity-details">
                        <dt *ngIf="singleSiteInstance"><span jhiTranslate="trialslinkApp.trial.principalInvestigator">Principal Investigator</span></dt>
                        <dd *ngIf="singleSiteInstance">
                            <a *ngIf="trial.sites[0].principalInvestigator" [routerLink]="['/trial']" [queryParams]="{token: trial.sites[0].principalInvestigator.personName}">{{ trial.sites[0].principalInvestigator.personName | titleFirstnameLastname }} </a>
                            <span *ngIf="!trial.sites[0].principalInvestigator">Not specified</span>
                        </dd>
                        <div *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PRIVILEGED']">
                        <dt>Trial History</dt>
                        <dd>
                            <small>
                                Last updated by {{trial.lastModifiedBy}} on {{trial.lastModifiedDate | json}}
                            </small>
                        </dd>
                        </div>
                        <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PRIVILEGED']" class="btn btn-primary btn-sm" [routerLink]="['/trial-history', trial.id]">
                            <span class="fa fa-history"></span>
                            <span>View Trial History</span>
                        </button>
                        <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PRIVILEGED']" class="btn btn-warning btn-sm" (click)="annotate()">
                            <span class="fa fa-gear"></span>
                            <span>Annotate</span>
                        </button>
                         <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PRIVILEGED']" class="btn btn-success btn-sm" (click)="updateVerifyStatus()">
                            <span class="fa fa-check"></span>
                            <span>Verify</span>
                        </button>
                        <button *ngIf="currentUserCanModifyTrial"
                                type="button"
                                [routerLink]="['/', { outlets: { popup: 'trial/'+ trial.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-warning btn-sm">
                            <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                        </button>
                        <button class="btn btn-sm btn-info" (click)="requestDetails()">Contact for more information</button>
                    </dl>
                </div>
                <div class="col-sm-6 trial-detail-dates">
                    <dt><span jhiTranslate="trialslinkApp.trial.chiefInvestigator">Chief Investigator</span></dt>
                    <dd>
                        <a *ngIf="trial.chiefInvestigator" [routerLink]="['/trial']" [queryParams]="{token: trial.chiefInvestigator.personName}">{{trial.chiefInvestigator.personName | titleFirstnameLastname}}</a>
                        <span *ngIf="!trial.chiefInvestigator">Not specified</span>
                    </dd>
                    <!--<dt><span jhiTranslate="trialslinkApp.trial.minAge">Min Age</span></dt>
                    <dd *ngIf="trial.eligibilities[0].minAge">
                        <span *ngIf="!trial.eligibilities[0].minAge.value">No min age specified</span>
                        <span *ngIf="trial.eligibilities[0].minAge.value">{{trial.eligibilities[0].minAge.value}}</span>
                        &nbsp;<span>{{trial.eligibilities[0].minAge.unit}}</span>
                    </dd>
                    <dt><span jhiTranslate="trialslinkApp.trial.maxAge">Max Age</span></dt>
                    <dd *ngIf="trial.eligibilities[0].maxAge">
                        <span *ngIf="!trial.eligibilities[0].maxAge.value">No max age specified</span>
                        <span *ngIf="trial.eligibilities[0].maxAge.value">{{trial.eligibilities[0].maxAge.value}}</span>
                        &nbsp;<span>{{trial.eligibilities[0].maxAge.unit}}</span>
                    </dd>-->
                </div>
            </div>
        </div>
    </div>
    <mat-accordion>
        <mat-expansion-panel *ngIf="!singleSiteInstance" [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title class="card-text-larger">
                    Sites
                </mat-panel-title>
                <!--<mat-panel-description>
                    Hospitals where this trial is being conducted
                </mat-panel-description>-->
            </mat-expansion-panel-header>

            <p class="card-text-medium">
                <jhi-trial-centre-list [trial]="trial"></jhi-trial-centre-list>
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="card-text-larger">
                    Site Details
                </mat-panel-title>
                <!--<mat-panel-description>
                    Contacts details for site
                </mat-panel-description>-->
            </mat-expansion-panel-header>

            <p class="card-text-medium">
                <trial-centre-card [trialCentre]="trial.sites[0]"></trial-centre-card>
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="singleSiteInstance" [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title class="card-text-larger">
                    Eligibility Criteria
                </mat-panel-title>
                <!--<mat-panel-description>
                    Inclusion & Exclusion criteria for this trial
                </mat-panel-description>-->
            </mat-expansion-panel-header>

            <p class="card-text-medium">
                <jhi-characteristic-list [trial]="trial"></jhi-characteristic-list>
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PRIVILEGED']">
            <mat-expansion-panel-header>
                <mat-panel-title class="card-text-larger">
                    Conditions
                </mat-panel-title>
                <!--<mat-panel-description>
                    Edit conditions associated with trial
                </mat-panel-description>-->
            </mat-expansion-panel-header>

            <p class="card-text-medium">
                <jhi-condition-list [trial]="trial"></jhi-condition-list>
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PRIVILEGED']">
            <mat-expansion-panel-header>
                <mat-panel-title class="card-text-larger">
                    Official Title
                </mat-panel-title>
            </mat-expansion-panel-header>

            <p class="card-text-medium">{{trial.title}}</p>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="trial.detailedDescription || trial.description">
            <mat-expansion-panel-header>
                <mat-panel-title class="card-text-larger">
                    Description
                </mat-panel-title>
                <!--<mat-panel-description>
                    View trial description
                </mat-panel-description>-->
            </mat-expansion-panel-header>

            <p class="card-text-medium" *ngIf="trial.detailedDescription">{{trial.detailedDescription}}</p>
            <p class="card-text-medium" *ngIf="!trial.detailedDescription">{{trial.description}}</p>
        </mat-expansion-panel>
        <mat-expansion-panel *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PRIVILEGED']" >
            <mat-expansion-panel-header>
                <mat-panel-title class="card-text-larger">
                    Study dates
                </mat-panel-title>
                <!--<mat-panel-description>
                    View trial start and end dates
                </mat-panel-description>-->
            </mat-expansion-panel-header>

            <p class="card-text-medium"><strong>Start Date  &nbsp;</strong>{{trial.startDate | date:'longDate'}}</p>
            <p class="card-text-medium"><strong>End Date  &nbsp;</strong>{{trial.studyCompletionDate | date:'longDate'}}</p>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="trial.reasonStopped">
            <mat-expansion-panel-header>
                <mat-panel-title class="card-text-larger" jhiTranslate="trialslinkApp.trial.reasonStopped">
                    Reason Stopped
                </mat-panel-title>
                <!--<mat-panel-description>
                    Reason for stopping trial
                </mat-panel-description>-->
            </mat-expansion-panel-header>

            <p class="card-text-medium">{{trial.reasonStopped}}</p>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="trial.note">
            <mat-expansion-panel-header>
                <mat-panel-title class="card-text-larger">
                    Note
                </mat-panel-title>
                <!--<mat-panel-description>
                    Additional notes provided
                </mat-panel-description>-->
            </mat-expansion-panel-header>

            <p class="card-text-medium">{{trial.note}}</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="card-text-larger">
                    Identifiers
                </mat-panel-title>
                <!--<mat-panel-description>
                    Internal and external ids known for this trial
                </mat-panel-description>-->
            </mat-expansion-panel-header>

            <p class="card-text-medium">
                <jhi-id-info-embedded [trial]="trial"></jhi-id-info-embedded>
            </p>
        </mat-expansion-panel>
    </mat-accordion>
    <ngb-tabset *ngIf="trial && !useMaterial" #t="ngbTabset">
        <ngb-tab id="centres">
            <ng-template ngbTabTitle>
                <span class="fa fa-institution"></span>
                &nbsp;
                <span><b>Centres</b></span>
            </ng-template>
            <ng-template ngbTabContent>
                <jhi-trial-centre-list [trial]="trial"></jhi-trial-centre-list>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="criteria">
            <ng-template ngbTabTitle>
                <span class="fa fa-check"></span>
                &nbsp;
                <span><b>Criteria</b></span>
            </ng-template>
            <ng-template ngbTabContent>
                <jhi-characteristic-list [trial]="trial"></jhi-characteristic-list>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="details">
            <ng-template ngbTabTitle>
                <span class="fa fa-tachometer"></span>
                &nbsp;
                <span><b>Details</b></span>
            </ng-template>
            <ng-template ngbTabContent>
                <div class="table-responsive">
                    <table class="table table-responsive table-striped">
                        <tbody>
                        <tr>
                            <td><span class="text-right" jhiTranslate="trialslinkApp.trial.title"><b>Official Title</b></span></td>
                            <td>{{trial.title}}</td>
                        </tr>
                        <tr>
                            <td><span class="text-right" jhiTranslate="trialslinkApp.trial.briefTitle"><b>Display Title</b></span></td>
                            <td>{{trial.briefTitle}}</td>
                        </tr>
                        <tr>
                            <td><span class="text-right" jhiTranslate="trialslinkApp.trial.detailedDescription"><b>Detailed Description</b></span></td>
                            <td class="div-pre">{{trial.detailedDescription}}</td>
                        </tr>
                        <tr>
                            <td><span class="text-right" jhiTranslate="trialslinkApp.trial.description"><b>Description</b></span></td>
                            <td>{{trial.description}}</td>
                        </tr>
                        <tr>
                            <td><span class="text-right" jhiTranslate="trialslinkApp.trial.chiefInvestigator"><b>Chief Investigator</b></span></td>
                            <td *ngIf="trial.chiefInvestigator">{{trial.chiefInvestigator.personName}}</td>
                        </tr>
                        <tr>
                            <td><span class="text-right" jhiTranslate="trialslinkApp.trial.startDate"><b>Study Start Date</b></span></td>
                            <td><span>{{trial.startDate | date:'medium'}}</span></td>
                        </tr>
                        <tr>
                            <td><span class="text-right" jhiTranslate="trialslinkApp.trial.studyCompletionDate"><b>Study Completion Date</b></span></td>
                            <td><span>{{trial.studyCompletionDate | date:'medium'}}</span></td>
                        </tr>
                        <tr>
                            <td><span class="text-right" jhiTranslate="trialslinkApp.trial.createdDate"><b>Created Date</b></span></td>
                            <td><span>{{trial.createdDate | date:'medium'}}</span></td>
                        </tr>
                        <tr>
                            <td><span class="text-right" jhiTranslate="trialslinkApp.trial.lastModifiedDate"><b>Last Updated Date</b></span></td>
                            <td><span>{{trial.lastModifiedDate | date:'medium'}}</span></td>
                        </tr>
                        <tr>
                            <td><span class="text-right" jhiTranslate="trialslinkApp.trial.reasonStopped"><b>Reason Stopped</b></span></td>
                            <td><span>{{trial.reasonStopped}}</span></td>
                        </tr>
                        <tr>
                            <td><span class="text-right" jhiTranslate="trialslinkApp.trial.note"><b>Note</b></span></td>
                            <td><span>{{trial.note}}</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="ids">
            <ng-template ngbTabTitle>
                <span class="fa fa-barcode"></span>
                &nbsp;
                <span><b>Identifiers</b></span>
            </ng-template>
            <ng-template ngbTabContent>
                <jhi-id-info-embedded [trial]="trial"></jhi-id-info-embedded>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="conditions">
            <ng-template ngbTabTitle>
                <span class="fa fa-bar"></span>
                &nbsp;
                <span><b>Conditions</b></span>
            </ng-template>
            <ng-template ngbTabContent>
                <jhi-condition-list [trial]="trial"></jhi-condition-list>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
