<div>
    <div class="col-xs-12 col-sm-12" *ngIf="!contacts || contacts.length < 1">
        <div *ngIf="!maskContactDetails" class="alert alert-warning ">
            <span jhiTranslate="trialslinkApp.contact.home.missingLabel">Oh no! You do not seem to have any contacts for this trial. Do you want to add one?</span>
        </div>
        <div *ngIf="maskContactDetails" class="card margin-bottom-15">
            <div class="card-header">
                <strong>Contact</strong>
            </div>
            <div class="card-body">
                    <p>You can find out more details about this trial by using the contact button below</p>
                    <button class="btn btn-sm btn-info" (click)="requestDetails()">Contact for more information</button>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12" *ngIf="contacts">
        <div *ngFor="let contact of contacts; let i = index;" class="card margin-bottom-15">
                <div class="card-header">
                    <strong *ngIf="!maskContactDetails">{{contact?.personName}}</strong>
                    <strong *ngIf="maskContactDetails">Contact Info</strong>
                    <div *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PRIVILEGED']" class="btn-group btn-group-toggle float-right">
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'contact/'+ contact.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-outline-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'contact/'+ contact.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-outline-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row-md jh-entity-details" *ngIf="!maskContactDetails">
                        <dt><span jhiTranslate="trialslinkApp.contact.phone">Phone</span></dt>
                        <dd>
                            <span>{{contact?.phone}}</span>
                        </dd>
                        <dt><span jhiTranslate="trialslinkApp.contact.email">Email</span></dt>
                        <dd>
                            <span><a href="mailto:{{contact?.email}}">{{contact?.email}}</a></span>
                        </dd>
                        <dt><span jhiTranslate="trialslinkApp.contact.purpose">Role</span></dt>
                        <dd>
                            <span>{{contact?.role?.name}}</span>
                        </dd>
                    </div>
                    <div class="row-md jh-entity-details" *ngIf="maskContactDetails">
                        <dt><span jhiTranslate="trialslinkApp.contact.email">Email</span></dt>
                        <dd>
                            <span><a href="mailto:{{defaultMask}}">{{defaultMask}}</a></span>
                        </dd>
                    </div>
                </div>
        </div>
    </div>
</div>
